<footer class="site-footer">
  <span class="site-footer-owner"><a href="https://github.com/louisgt/SodaPop"><span style="color: #1e6bb8">{{ site.title }}</span></a> is maintained by <a href="{{ site.author.url }}"><span style="color: #1e6bb8">{{ site.author.name }}</span></a>.</span>
  <span class="site-footer-credits">This page uses a modified version of the <a href="https://github.com/jasonlong/cayman-theme"><span style="color: #1e6bb8">Cayman Theme</span></a> by <a href="https://github.com/jasonlong"><span style="color: #1e6bb8">Jason Long</span></a>.</span>
</footer>
