<section class="topbar">
	<ul style="float:left">
  		<a href="{{ site.baseurl }}{% link index.md %}"><span style="color: #373737">Home</span></a>
	</ul>
</section>

<section class="page-header">
  <b href="{{ site.baseurl }}{% link index.md %}" class="project-name" >{{ site.title }}</b>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/louisgt/SodaPop" class="btn">View on GitHub</a>
  <a href="https://github.com/louisgt/SodaPop/archive/master.zip" class="btn">Download .zip</a>
  <a href="https://github.com/louisgt/SodaPop/archive/master.tar.gz" class="btn">Download .tar.gz</a>
</section>
